<footer class="footer">
    <div class="madewithlove">
        <section>Made with <i class="fa fa-heart animated pulse love"></i> in Paris</section>
        <section>&copy; BeeSide&trade; {{ site.time | date: '%Y' }}</section>
    </div>

    <div class="social-icons">
        {% if site.social.twitter %}
        <a href="https://twitter.com/{{ site.social.twitter }}">
                <i class="fa fa-twitter"></i>
        </a>
        {% endif %}

        {% if site.social.github %}
        <a href="https://github.com/{{ site.social.github }}">
            <i class="fa fa-github"></i>
        </a>
        {% endif %}

        {% if site.social.facebook %}
        <a href="https://facebook.com/{{ site.social.facebook }}">
            <i class="fa fa-facebook"></i>
        </a>
        {% endif %}

        {% if site.social.instagram %}
        <a href="https://instagram.com/{{ site.social.instagram }}">
            <i class="fa fa-instagram"></i>
        </a>
        {% endif %}

        {% if site.social.google_plus %}
        <a href="{{ site.social.google_plus }}">
            <i class="fa fa-google-plus"></i>
        </a>
        {% endif %}
    </div>
</footer>
