<meta charset="utf-8">
<title>{% if page.title %}{{ page.title | upcase }} &vert; {% endif %}{{ site.title | upcase }}</title>
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
{% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}


<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,600,300,800,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ site.url }}/assets/css/vendor/font-awesome.min.css">
<link rel="stylesheet" href="{{ site.url }}/assets/css/vendor/normalize.css">
<link rel="stylesheet" href="{{ site.url }}/assets/css/vendor/nprogress.css">
<link rel="stylesheet" href="{{ site.url }}/assets/css/vendor/foundation.min.css">
<link rel="stylesheet" href="{{ site.url }}/assets/css/default.css">
