h1, h2, h3 {
    font-family:"Open Sans",Arial,sans-serif;
}

p {
    font-family: Helvetica,Arial,sans-serif;
}

/************
HEADER
 */
a.logo {
    display: block;
    text-align: center;
}

a.logo img {
    width: 50px;
    height: auto;
}
