//
// Header
// --------------------------------------------------

header.header {
  background: $gray-base;
  padding: 10rem 1rem;
  color: #FFF;
  text-align: center;
  margin-bottom: $marginSize;

  h2 {
    letter-spacing: $titleLetterSpacing;
  }

  h6 span {
    background: $primaryColor;
    color: #FFF;
    padding: .5rem;
    line-height: 3rem;
    letter-spacing: -1px;
  }

  &.with-background {
    background: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    min-height: 50vh;
  }
}

a.logo {
  display: block;
  text-align: center;

  img {
    width: 50px;
    height: auto;
  }
}

