//
// Main aka common
// --------------------------------------------------

body {
  font-family: $fontRegular;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $fontTitle;
}

hr {
  border-color: #F05F40;
  border-width: 3px;
  max-width: 50px;
}

a {
  color: $primaryColor;
}

.love {
  color: #F27490;
}

section.stacks {
  position: relative;
  display: block;
  margin: 0;
  border: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  &.blue {
    background-color:rgba(41, 162, 242, 1.00);
    color: #FFF;
  }

  .container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: lighten(rgba(41, 162, 242, 1.00), 5%);

    &.lighten {
      background-color: lighten(rgba(41, 162, 242, 1.00), 10%);
    }
  }
}
