//
// Variables
// --------------------------------------------------


//== Colors
//
//## Primary color of the theme

$primaryColor: #FF9900;

//== Font
//
//## Font family used on the theme

$fontRegular: Helvetica, Arial, sans-serif;
$fontTitle: "Open Sans", Arial, sans-serif;
$marginSize: 30px;
$titleLetterSpacing: -3px;