<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
</head>
<body class="home-template" itemscope itemtype="http://schema.org/WebPage">
<header>
    <div>
        <a class="logo" href="{{ site.url }}"><img src="{{ site.url }}/assets/images/{{ site.logo }}" alt="BeeSide" /></a>
        <h1>
            <span>
                {{ site.title }}
            </span>
        </h1>
        <h2>{{ site.description }}</h2>
    </div>
</header>

<main role="main">
    {{ content }}
</main>
{% include footer.html %}

{% include scripts.html %}
</body>
</html>
